In [1]:
import pandas as pd
import numpy as np

# 데이터 주소
DATA_PATH = 'data/taxi_fare_data.csv'

# pandas를 이용하여 데이터를 DataFrame의 형태로 불러오는 load_csv 함수를 설정합니다.
def load_csv(path):
    data_frame = pd.read_csv(path)
    return data_frame

# load_csv 함수를 사용하여 데이터를 불러와 df에 저장합니다.
df = load_csv(DATA_PATH)

print("누락된 데이터(Missing Data)를 제거하기 전의 데이터 정보")
df.info()

누락된 데이터(Missing Data)를 제거하기 전의 데이터 정보
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1000 non-null   int64
 1   id                 1000 non-null   int64
 2   pickup_datetime    1000 non-null   object
 3   pickup_latitude    1000 non-null   int64
 4   pickup_longitude   1000 non-null   int64
 5   dropoff_latitude   991 non-null    float64
 6   dropoff_longitude  992 non-null    float64
 7   passenger_count    1000 non-null   int64
 8   fare_amount        1000 non-null   int64
dtypes: float64(2), int64(6), object(1)
memory usage: 70.4+ KB

In [4]:
df.head()

,Unnamed: 0,id,pickup_datetime,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,passenger_count,fare_amount
0,0,4142,2015-01-07 15:32,-263,-374,396.0,67.0,-2,31
1,1,1392,2015-10-21 22:52,-65,-44,39.0,62.0,2,74
2,2,4606,2017-05-07 3:25,442,424,458.0,328.0,-2,6
3,3,1600,2017-05-14 9:57,-349,269,-340.0,143.0,-2,66
4,4,4332,2017-04-11 16:01,-119,264,-243.0,494.0,2,88

In [15]:
# df에서 "Unnamed: 0" 컬럼을 제거하고 del_un_df에 저장합니다.
del_un_df = df.drop(columns='Unnamed: 0')
print(del_un_df.head())

     id   pickup_datetime  pickup_latitude  pickup_longitude  \
0  4142  2015-01-07 15:32             -263              -374
1  1392  2015-10-21 22:52              -65               -44
2  4606   2017-05-07 3:25              442               424
3  1600   2017-05-14 9:57             -349               269
4  4332  2017-04-11 16:01             -119               264

   dropoff_latitude  dropoff_longitude  passenger_count  fare_amount
0             396.0               67.0               -2           31
1              39.0               62.0                2           74
2             458.0              328.0               -2            6
3            -340.0              143.0               -2           66
4            -243.0              494.0                2           88

In [16]:
# del_un_df에서 "id" 컬럼을 제거하고 del_un_id_df에 저장합니다.
del_un_id_df = del_un_df.drop(columns='id')
print(del_un_id_df.head())

    pickup_datetime  pickup_latitude  pickup_longitude  dropoff_latitude  \
0  2015-01-07 15:32             -263              -374             396.0
1  2015-10-21 22:52              -65               -44              39.0
2   2017-05-07 3:25              442               424             458.0
3   2017-05-14 9:57             -349               269            -340.0
4  2017-04-11 16:01             -119               264            -243.0

   dropoff_longitude  passenger_count  fare_amount
0               67.0               -2           31
1               62.0                2           74
2              328.0               -2            6
3              143.0               -2           66
4              494.0                2           88

In [20]:
# del_un_id_df의 결측치가 포함된 행을 제거하고 removed_df에 저장합니다.
removed_df = del_un_id_df.dropna(axis=0)
print("\n결측치(Missing Data)를 제거한 후의 데이터 정보")
print(removed_df.info())

결측치(Missing Data)를 제거한 후의 데이터 정보
<class 'pandas.core.frame.DataFrame'>
Index: 991 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pickup_datetime    991 non-null    object
 1   pickup_latitude    991 non-null    int64
 2   pickup_longitude   991 non-null    int64
 3   dropoff_latitude   991 non-null    float64
 4   dropoff_longitude  991 non-null    float64
 5   passenger_count    991 non-null    int64
 6   fare_amount        991 non-null    int64
dtypes: float64(2), int64(4), object(1)
memory usage: 61.9+ KB
None