In [25]:
import numpy as np
import pandas as pd

df = pd.read_csv("./taxi_fare_data.csv", quoting=3)

# 불러온 pickup_datetime은 ['2009-06-15 17:26:21 UTC', ...] 과 같은 형태를 지니고 있습니다.
pickup_datetime = df['pickup_datetime']

In [26]:
df.isnull().sum()

Unnamed: 0           0
id                   0
pickup_datetime      0
pickup_latitude      0
pickup_longitude     0
dropoff_latitude     9
dropoff_longitude    8
passenger_count      0
fare_amount          0
dtype: int64

In [27]:
df['pickup_datetime'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: pickup_datetime
Non-Null Count  Dtype
--------------  -----
1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [40]:
#object형식을 datetime64 형식으로 변환
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'], format="%Y-%m-%d %H:%M", errors='coerce')

print(df['pickup_datetime'].dtype)

df.dropna(subset=['pickup_datetime'], inplace=True)
df.isnull().sum()

datetime64[ns]

Unnamed: 0           0
id                   0
pickup_datetime      0
pickup_latitude      0
pickup_longitude     0
dropoff_latitude     9
dropoff_longitude    8
passenger_count      0
fare_amount          0
dtype: int64

In [44]:
# 우선 연월일('YYYY-MM-DD')와 시간('HH:MM:SS')로 나누어 주고 이를 year_date, time 변수로 각각 넣어줍니다.
year_date = []
time = []

for data in df['pickup_datetime']:
  year_date.append(data.strftime("%Y-%m-%d"))
  time.append(data.strftime("%H:%M"))

print(year_date[:10])
print(time[:10])

['2015-01-07', '2015-10-21', '2017-05-07', '2017-05-14', '2017-04-11', '2015-04-26', '2017-04-09', '2017-10-18', '2015-07-21', '2015-03-04']
['15:32', '22:52', '03:25', '09:57', '16:01', '03:51', '13:31', '06:49', '07:55', '14:21']

In [45]:
# 연월일 변수에서 각각의 '연도', '월', '일'을 추출하여 years, months, days 변수에 넣어줍니다.
years = []
months = []
days = []

for data in year_date:
    dt = pd.to_datetime(data, format="%Y-%m-%d", errors='coerce')
    years.append(dt.year)
    months.append(dt.month)
    days.append(dt.day)

#시간만 따로 int의 형태로 추출합니다.
hours = [int(t.split(":")[0]) for t in time]

#각 변수의 상위 10개씩만 출력해서 추출이 제대로 되었는지 확인해봅시다.
print(years[:10])
print(months[:10])
print(days[:10])
print(hours[:10])

[2015, 2015, 2017, 2017, 2017, 2015, 2017, 2017, 2015, 2015]
[1, 10, 5, 5, 4, 4, 4, 10, 7, 3]
[7, 21, 7, 14, 11, 26, 9, 18, 21, 4]
[15, 22, 3, 9, 16, 3, 13, 6, 7, 14]